<app-navbar></app-navbar>
<div style="font-size: 20px; padding-left: 40px; padding-right: 40px;">
This is a private project that i have created to practice web development skills during my final year at college of my Bachelor degree.
</div>
<h1>Motivation</h1>
<div style="font-size: 20px; padding-left: 40px; padding-right: 40px;">
People nowadays are overflown with pieces of information due to the enhanced connectivity through the internet. Therefore, people are easily getting overwhelmed
by the the flood of information. That is why algorithms for classifying information as relevant or not is important here.
</div>
<br/>
<div style="font-size: 20px; padding-left: 40px; padding-right: 40px;">
One application of those algorithms is the classification of spam e-mails. Spam filters are evident everywhere and useful to prevent harmful e-mails containing phishing content for instance.
</div>
<h1>Used methods</h1>
<div style="font-size: 20px; padding-left: 40px; padding-right: 40px;">
This application currently makes use of two Machine Learning algorithms.
<ol>
    <li>Naive Bayes</li>
    <li>Count Vectorizer</li>
</ol>
For the training of those algorithms, a dataset was used from kaggle with a ratio of 2/3 training data and 1/3 test data. It is important to note that the methods
are only applicable to english texts and not on text data written in other languages. This is due to restriction of the dataset that only contains english texts.
</div>
<app-footer></app-footer>
