<app-navbar></app-navbar>
This is a private project that i have created to practice web development skills during my final year at college of my Bachelor degree.
<h1>Motivation</h1>
People nowadays are overflown with pieces of information due to the enhanced connectivity through the internet. Therefore, people are easily getting overwhelmed
by the the flood of information. That is why algorithms for classifying information as relevant or not is important here.
<br/>
One application of those algorithms is the classification of spam e-mails. Spam filters are evident everywhere and useful to prevent harmful e-mails containing phishing content for instance.
<app-footer></app-footer>
